/*声明变量*/
.tip {
  font-size: 0.3rem;
  color: #666;
  margin-top: 0.2rem;
}
.calendarInput {
  height: 0.6rem;
  line-height: 0.6rem;
  border: 1px solid #ddd;
}
.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dp-mask {
  background: #000 none repeat scroll 0 0;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}
.dp-mask.show {
  visibility: visible;
  opacity: 0.25;
}
.dp-panel {
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: -webkit-transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s;
  transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s;
  -ms-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 11;
  background-color: #F7F7F7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Tahoma, arial, verdana, sans-serif;
}
.dp-panel.show {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dp-head {
  height: 0.55rem;
  line-height: 0.55rem;
}
.dp-head-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #333;
}
.dp-select-box {
  display: inline-block;
  width: 49%;
  position: relative;
}
.dp-prev {
  left: 0;
}
.dp-next {
  right: 0;
}
.dp-prev,
.dp-next {
  position: absolute;
  top: 0;
  font-family: arial;
  font-size: 1.6em;
  display: inline-block;
  width: 0.55rem;
  height: 0.55rem;
  text-align: center;
  color: #333;
}
.dp-body {
  position: relative;
  height: 260px;
}
.dp-year,
.dp-month,
.dp-week {
  list-style-type: none;
  border-bottom: 1px solid #4eccc4;
  overflow: hidden;
}
.dp-year li,
.dp-month li {
  display: inline-block;
  width: 32%;
  font-weight: 400;
  text-align: center;
  line-height: 3.8em;
  font-size: 1.05em;
}
.dp-date-box {
  /*display: inline-block;*/
  width: 33.5%;
  text-align: center;
}
.dp-date {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.dp-week li,
.dp-date li {
  display: inline-block;
  width: 14.28%;
  font-weight: 400;
  text-align: center;
  line-height: 2.5em;
}
.dp-panel .disabled {
  color: #4eccc4;
}
.dp-panel .select,
.dp-panel .current {
  background-color: #79afdb;
  color: #fff;
}
.dp-slide {
  -webkit-transition: transform ease-in-out 0.5s;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
