/*声明变量*/
/**调用变量***/
.box {
  padding: 0.3rem;
  margin: 0.3rem auto;
  position: relative;
}
.box p {
  font-size: 0.32rem;
  border-bottom: 1px dashed #4cd964;
  padding: 12px 0;
  padding-top: 9px;
}
.toggle {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  width: 100%;
  border-bottom: 1px dashed #ccc;
}
.labelTxt {
  float: left;
  display: inline-block;
  height: 51px;
  line-height: 51px;
}
/*switch*/
.toggle .track-switch {
  transition: all ease-in-out 0.25s 0s;
  display: inline-block;
  box-sizing: border-box;
  width: 51px;
  height: 31px;
  border: solid 2px #e6e6e6;
  border-radius: 20px;
  background-color: #fff;
  content: ' ';
  cursor: pointer;
  pointer-events: none;
  float: left;
  margin: 10px 10px 0 0;
  position: relative;
}
.toggle .track-switch .handle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
  transition: background, transform 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
}
.toggle input:checked + .track-switch .handle {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #fff;
}
.toggle input:checked + .track-switch {
  border-color: #4cd964;
  background-color: #4cd964;
}
/*checkbox*/
.toggle .track-checkbox {
  transition: all ease-in-out 0.25s 0s;
  display: inline-block;
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border: solid 2px #e6e6e6;
  border-radius: 100%;
  background-color: #fff;
  content: ' ';
  cursor: pointer;
  pointer-events: none;
  float: left;
  margin: 8px 10px 0 0;
  position: relative;
}
.toggle .track-checkbox .handle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  transition: background, visibility, transform 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
}
.toggle .track-checkbox .handle::before {
  content: " ";
  left: 9px;
  top: 12px;
  position: absolute;
  width: 2px;
  height: 30%;
  background: #4cd964;
  transform: rotate(-40deg);
  transition: all 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
  visibility: hidden;
}
.toggle .track-checkbox .handle::after {
  content: " ";
  left: 16px;
  top: 6px;
  position: absolute;
  width: 2px;
  height: 58%;
  background: #4cd964;
  transform: rotate(-140deg);
  transition: all 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
  visibility: hidden;
}
.toggle input:checked + .track-checkbox {
  border-color: #4cd964;
  background-color: #4cd964;
}
.toggle input:checked + .track-checkbox .handle::before {
  visibility: visible;
  background: #fff;
}
.toggle input:checked + .track-checkbox .handle::after {
  visibility: visible;
  background: #fff;
}
/*radio*/
.toggle .track-radio {
  transition: all ease-in-out 0.25s 0s;
  display: inline-block;
  box-sizing: border-box;
  width: 31px;
  height: 31px;
  border: solid 2px #e6e6e6;
  border-radius: 100%;
  background-color: #fff;
  content: ' ';
  cursor: pointer;
  pointer-events: none;
  float: left;
  margin: 8px 10px 0 0;
  position: relative;
}
.toggle .track-radio .handle {
  position: absolute;
  top: 0px;
  left: 0;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  transition: background, visibility, transform 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
}
.toggle .track-radio .handle::before {
  content: " ";
  left: 9px;
  top: 12px;
  position: absolute;
  width: 2px;
  height: 30%;
  background: #4cd964;
  transform: rotate(-40deg);
  transition: all 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
  visibility: hidden;
}
.toggle .track-radio .handle::after {
  content: " ";
  left: 16px;
  top: 6px;
  position: absolute;
  width: 2px;
  height: 58%;
  background: #4cd964;
  transform: rotate(-140deg);
  transition: all 0.3s cubic-bezier(0, 1.1, 1, 1.1) 0s;
  visibility: hidden;
}
.toggle input:checked + .track-radio {
  border-color: #4cd964;
  background-color: #4cd964;
}
.toggle input:checked + .track-radio .handle::before {
  visibility: visible;
  background: #fff;
}
.toggle input:checked + .track-radio .handle::after {
  visibility: visible;
  background: #fff;
}
