/*声明变量*/
/**调用变量***/
.imageUl li {
  width: 33%;
  float: left;
  overflow: hidden;
}
.imageUl li:last-child:after {
  content: "";
  height: 1px;
  clear: both;
  overflow: hidden;
}
.imageDiv {
  width: 1.9rem;
  height: 1.7rem;
  margin: 0 auto;
}
.imageDiv_part1 {
  background: url(../../image/iPhone.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
.imageDiv_part2 {
  background: url(../../image/legao.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
.imageDiv_part3 {
  background: url(../../image/pptvPhone.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
.imageDiv_part4 {
  background: url(../../image/pptvVip.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
.imageDiv_part5 {
  background: url(../../image/thirt.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
