/*声明变量*/
@height:0.51rem;
@border: 1px solid #ddd;
@borderRadius:100%;
@color3:#333;
@color6:#666;
@colorf:#fff;
@textAlignCenter:center;
@posA:absolute;
@posR:relative;
@displayI:inline-block;
/**调用变量***/
.box{
    padding:0.3rem;
    margin:0.3rem auto;
    position:@posR;
}
.box p{
    font-size:0.32rem;
    border-bottom: 1px dashed #4cd964;
    padding: 12px 0;
    padding-top: 9px;
}
.toggle{
    position:@posR;
    display:@displayI;
    pointer-events:auto;
    width: @borderRadius;
    border-bottom:1px dashed #ccc;
}
.labelTxt{
    float: left;
    display:@displayI;
    height: 51px;
    line-height: 51px;
}
/*switch*/
.toggle .track-switch{
    -webkit-transition:all ease-in-out 0.25s 0s;
    transition: all ease-in-out 0.25s 0s;
    display:@displayI;
    box-sizing:border-box;
    width:51px;
    height:31px;
    border:solid 2px #e6e6e6;
    border-radius:20px;
    background-color:#fff;
    content:' ';
    cursor:pointer;
    pointer-events:none;
    float: left;
    margin: 10px 10px 0 0;
    position: @posR;
}
.toggle .track-switch .handle{
    position: @posA;
    top: 0px;
    left: 0;
    width: 27px;
    height: 27px;
    border-radius:@borderRadius;
    background: @colorf;
    box-shadow:0 2px 7px rgba(0,0,0,0.35),0 1px 1px rgba(0,0,0,0.15);
    -webkit-transition:background,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;
    transition:background,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;
    transition:background,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;
    transition: background,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;
}
.toggle input:checked + .track-switch .handle{
    -webkit-transform:translate3d(20px,0,0);
    transform:translate3d(20px,0,0);
    background-color:@colorf;
}
.toggle input:checked + .track-switch{border-color:#4cd964;background-color:#4cd964;}
/*checkbox*/
.toggle .track-checkbox{-webkit-transition:all ease-in-out 0.25s 0s;transition: all ease-in-out 0.25s 0s;display:@displayI;box-sizing:border-box;width:31px;height:31px;border:solid 2px #e6e6e6;border-radius:@borderRadius;background-color:@colorf;content:' ';cursor:pointer;pointer-events:none;float: left;margin: 8px 10px 0 0;position: @posR;}
.toggle .track-checkbox .handle{position:@posA;top: 0px;left: 0;width: 27px;height: 27px;border-radius:@borderRadius;  -webkit-transition:background,visibility,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition:background,visibility,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition:background,visibility,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition: background,visibility,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;}
.toggle .track-checkbox .handle::before{content:" ";left:9px;top:12px;position:@posA;width:2px;height:30%;background:#4cd964;-webkit-transform:rotate(-40deg);-ms-transform:rotate(-40deg);transform:rotate(-40deg);-webkit-transition:all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;transition: all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;visibility: hidden;}
.toggle .track-checkbox .handle::after{content:" ";left:16px;top:6px;position:@posA;width:2px;height:58%;background:#4cd964;-webkit-transform:rotate(-140deg);-ms-transform:rotate(-140deg);transform:rotate(-140deg);-webkit-transition:all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;transition: all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;visibility: hidden;}
.toggle input:checked + .track-checkbox{border-color:#4cd964;background-color:#4cd964;}
.toggle input:checked + .track-checkbox .handle::before{visibility:visible;background:@colorf;}
.toggle input:checked + .track-checkbox .handle::after{visibility:visible; background:@colorf;}
/*radio*/
.toggle .track-radio{-webkit-transition:all ease-in-out 0.25s 0s;transition: all ease-in-out 0.25s 0s;display:@displayI;box-sizing:border-box;width:31px;height:31px;border:solid 2px #e6e6e6;border-radius:@borderRadius;background-color:@colorf;content:' ';cursor:pointer;pointer-events:none;float: left;margin: 8px 10px 0 0;position:@posR;}
.toggle .track-radio .handle{position:@posA;top: 0px;left: 0;width: 27px;height: 27px;border-radius:@borderRadius;  -webkit-transition:background,visibility,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition:background,visibility,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition:background,visibility,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s;  transition: background,visibility,transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s,-webkit-transform 0.3s cubic-bezier(0,1.1,1,1.1) 0s; }
.toggle .track-radio .handle::before{content:" ";left:9px;top:12px;position:@posA;width:2px;height:30%;background:#4cd964;-webkit-transform:rotate(-40deg);-ms-transform:rotate(-40deg);transform:rotate(-40deg);-webkit-transition:all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;transition: all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;visibility: hidden;}
.toggle .track-radio .handle::after{content:" ";left:16px;top:6px;position:@posA;width:2px;height:58%;background:#4cd964;-webkit-transform:rotate(-140deg);-ms-transform:rotate(-140deg);transform:rotate(-140deg);-webkit-transition:all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;transition: all 0.3s cubic-bezier(0,1.1,1,1.1) 0s;visibility: hidden;}
.toggle input:checked + .track-radio{border-color:#4cd964;background-color:#4cd964;}
.toggle input:checked + .track-radio .handle::before{visibility:visible;background:@colorf;}
.toggle input:checked + .track-radio .handle::after{visibility:visible; background:@colorf;}